<ion-view>
  <ion-header>
    <ion-toolbar class="ion-padding-start">
      <ion-text class="ion-no-margin">
        <h1 class="main_header ion-no-margin">Hotels.fed</h1>
      </ion-text>
      <ion-buttons slot="end">
        <ion-button>
          <ion-icon color="secondary" size="large" name="reorder-four-outline"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  <!-- ______________________________________________________________ -->
  <ion-content>
    <section class="hotels-list">
      <div ng-repeat="hotel in hotelsList" class="hotel__card">
        <img src={{hotel.img}} alt={{hotel.name}}>
        <div class="hotel__description">
          <h2 class="description__header">{{hotel.city}} | {{hotel.name}} </h2>
          <p class="hotel__price">
            &#8364;{{hotel.price}} | &#10051;{{hotel.score}}
            <img ng-if="!hotel.animals" src="img/no-pets-svgrepo-com.svg">
            <img ng-if="!hotel.smoke" src="img/no-smoking-svgrepo-com.svg">
          </p>
          <p>{{hotel.description}}
          <p>
        </div>
      </div>
      </div>
    </section>
  </ion-content>
  <ion-footer></ion-footer>
</ion-view>
