/* стиль заголовка главной страницы  */
.main_header {
  color:rgb(75, 186, 222);
}
.hotels-list {
  padding:56px 10px 2px 10px;
}
.hotel__card {
  width: 100%;
  border-radius: 5px;
  margin-bottom: 12px;
  box-shadow: 0px 5px 5px lightblue;
  cursor: pointer;
}
.hotel__card:hover {
  transform: scale(0.99);
  background-color: rgb(209, 205, 205);
  transition: all 0.1s ease-in-out;
}
.hotel__description {
  padding: 5px;
  line-height: 140%;
  margin-top: -42px;
}
.description__header {
  filter: invert();
}

._smallIMG {
  width: 8%;
}
.hotel__price {
  display: flex;
  gap: 4%;
  align-items: flex-end;
  font-size: 20px;
  font-weight: 700;
}


